/* Personalization Mixins ------------------- */
// This file creates classes that will be shared across personalization pages
// specifically. If we need to make classes to be shared globally, add them to
// global_mixins.less
/* ------------------------------------------ */

.evidence_circle {
    display: block;
    width: (@font-size-base * 2);
    height: (@font-size-base * 2);
    .rounded_corners(50%);

    &.evidence_circle_passed {
        background-color: #6C6;
    }
    &.evidence_circle_positive {
        background-color: #C6C;
    }
    &.evidence_circle_doubtful {
        background-color: #999;
    }
    &.evidence_circle_failed {
        background-color: #C66;
    }
}
