/* Personalization Mixins ------------------- */
// This file creates classes that will be shared across personalization pages
// specifically. If we need to make classes to be shared globally, add them to
// global_mixins.less
/* ------------------------------------------ */

// creates evidence circles
[data-evidence-circle] {
    display: block;
    width: (@font-size-base * 2);
    height: (@font-size-base * 2);
    .rounded_corners(50%);
}
[data-evidence-circle="passed"] {
    background-color: #6C6;
}
[data-evidence-circle="positive"] {
    background-color: #C6C;
}
[data-evidence-circle="doubtful"] {
    background-color: #999;
}
[data-evidence-circle="failed"] {
    background-color: #C66;
}

// defines strong match
[data-match-strength] {
    display: block;
    width: (@font-size-base * 2);
    height: (@font-size-base * 2);
    .rounded_corners(0.4em);
    border: 0.2em solid @mwh_grey_button;
}
[data-match-strength="strong"] {
    background-color: @mwh_color_highlight;
}
[data-match-strength="moderate"] {
    background-color: #FFF;
}
[data-match-strength="weak"] {
    background-color: #CCC;
}

// for effectiveness radial gauges
[data-effectiveness-gauge] {
    display: block;
    width: (@font-size-base * 2);
    height: (@font-size-base * 2);
    .rounded_corners(50%);
    background-color: @mwh_grey_border;
}

// for eligibibility and insurance coverage
[data-eligibility-coverage] {
    display: block;
    // width: (@font-size-base * 2);
    // height: (@font-size-base * 2);
    // .rounded_corners(50%);
    font-size: (@font-size-base * 2);
    line-height: @font-size-base;
    width: @font-size-base;
}
[data-eligibility-coverage="true"] {
    color: @mwh_color_supplement;
}
[data-eligibility-coverage="false"] {
    color: @mwh_color_links;
}

// for out-of-pocket cost calculator
[data-out-of-pocket-cost] {
    display: block;
    overflow: auto;

    span {
        float: left;
        display: block;
        width: 2em;
        height: 2em;
        margin-right: (@font-size-base * 0.25);
        border: 0.2em solid @mwh_grey_active;
        .rounded_corners(50%);
    }
}
.out_of_pocket_icon_replacement {
        font-size: (@font-size-base * 2);
        line-height: @font-size-base;
        width: @font-size-base;
        height: @font-size-base;
        border: 0 none;
        color: @mwh_grey_active;
        .icon-cost;
}
[data-out-of-pocket-cost="1"] {
    span:first-child {
        .out_of_pocket_icon_replacement;
    }
}
[data-out-of-pocket-cost="2"] {
    span:first-child, span:first-child + span {
        .out_of_pocket_icon_replacement;
    }
}
[data-out-of-pocket-cost="3"] {
    span:first-child, span:first-child + span, span:first-child + span + span {
        .out_of_pocket_icon_replacement;
    }
}
[data-out-of-pocket-cost="4"] {
    span:first-child, span:first-child + span, span:first-child + span + span,
    span:first-child + span + span + span {
        .out_of_pocket_icon_replacement;
    }
}
[data-out-of-pocket-cost="5"] {
    span {
        .out_of_pocket_icon_replacement;
    }
}
