/* Personalization Shell -------------------- */
// This file makes the basic shell for the treatments in personalize. It will
// provide responsive layout.
/* ------------------------------------------ */

.personalization[role="main"] {
    > header {
        padding-top: 1em;
        padding-bottom: 1em;

        h1 {
            font-weight: bold;
            font-size: 3em;
        }
    }
    > section {
        h2 {
            font-size: 2em;
            line-height: 1.25em;
        }
        p {
            font-size: 1.5em;
            line-height: 1.333333em;
        }
        > footer {
            p {
                font-size: 1.2em;
                line-height: 1.25em;
            }
        }
    }
}