/* Survey ------------------------------- */
// This file creates all the forms that appear when the user selects the option
// to "personalize." Note that the survey can appear in both:
// 1. Bullseye  (article[role="main"]#personalization_bullseye)
// 2. List view (article[role="main"]#personalization_list_view)
/* ------------------------------------------ */

// creates the progress bar during the survey
#personalization_survey_progress {
    position: relative;
    padding: @font-size-base (@grid-gutter-width * 0.5);
    margin: 0 0 @font-size-base 0;
    background-color: @mwh_grey_disabled;
}