/* Survey ------------------------------- */
// This file creates all the forms that appear when the user selects the option
// to "personalize." Note that the survey can appear in both:
// 1. Bullseye  (article[role="main"]#personalization_bullseye)
// 2. List view (article[role="main"]#personalization_list_view)
/* ------------------------------------------ */

// creates the progress bar during the survey
#personalization_survey_progress {
    position: relative;
    height: 8em;
    padding: (@font-size-base * 1.5) (@grid-gutter-width * 0.5) 0;
    margin: 0 0 @font-size-base 0;
    background-color: @mwh_grey_border;
    .rounded_corners(@font-size-base * 0.5);

    p {
        .mixin_font_subtext;
    }
    // modification of bootstrap progress bar
    .progress {
        height: (@font-size-base * 1.5);
        margin-bottom: @font-size-base;
        position: relative;
        overflow: visible;
    }
    // Bar of progress
    .progress-bar {
        font-size: (@font-size-base * 1.5);
        line-height: @line-height-computed;
        text-align: center;
    }
    .progress_labels {
        position: absolute;
        right: 0;
        left: 0;
        overflow: auto;

        span {
            float: left;
            border-left: (1em / @variable_font_subtext_multiplier) solid @mwh_color_text;
            padding-top: (@font-size-base * 1.5);
            display: block;
            .mixin_font_subtext;
            width: 33.3333%;
            padding-left: (3em / @variable_font_subtext_multiplier);
        }
    }
    .progress_indicator {
        margin-top: 1.6em;
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        border-top: 0.4em solid @mwh_color_base;

        &, div {
            position: absolute;
            width: 0;
            height: 0;
        }
        div {
            top: -0.4em;
            left: -0.3em;
            border-left: 0.3em solid transparent;
            border-right: 0.3em solid transparent;
            border-top: 0.3em solid @mwh_color_figures;

            &:after {
                width: 0.6em;
                height: 1.6em;
                top: -1.9em;
                left: -0.3em;
                z-index: 2;
                background-color: @mwh_color_figures;
            }
        }
        &:after, div:after {
            position: absolute;
            content: '';
        }
        &:after {
            width: 0.8em;
            height: 1.7em;
            top: -2.1em;
            left: -0.4em;
            z-index: 1;
            background-color: @mwh_color_base;
        }
    }
}