/* Survey ------------------------------- */
// This file creates all the forms that appear when the user selects the option
// to "personalize." Note that the survey can appear in both:
// 1. Bullseye  (article[role="main"]#personalization_bullseye)
// 2. List view (article[role="main"]#personalization_list_view)
/* ------------------------------------------ */

// creates the progress bar during the survey
#personalization_survey_progress {
    position: relative;
    height: 8em;
    padding: (@font-size-base * 1.5) (@grid-gutter-width * 0.5) 0;
    margin: 0 0 @font-size-base 0;
    background-color: @mwh_grey_disabled;
    .rounded_corners(@font-size-base * 0.5);

    p {
        .mixin_font_subtext;
    }
    // modification of bootstrap progress bar
    .progress {
        height: (@font-size-base * 1.5);
        margin-bottom: @font-size-base;
        position: relative;
        overflow: visible;
    }
    // Bar of progress
    .progress-bar {
        font-size: (@font-size-base * 1.5);
        line-height: @line-height-computed;
        text-align: center;
    }
    .progress_labels {
        position: absolute;
        right: 0;
        left: 0;
        overflow: auto;

        span {
            float: left;
            border-left: (1em / @variable_font_subtext_multiplier) solid @mwh_color_text;
            padding-top: (@font-size-base * 1.5);
            display: block;
            .mixin_font_subtext;
            width: 33.3333%;
            padding-left: (3em / @variable_font_subtext_multiplier);
        }
    }
    .progress_indicator {
        margin: 1.6em 0 0 -0.4em;
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        border-top: 0.4em solid @mwh_color_base;

        &, div {
            position: absolute;
            width: 0;
            height: 0;
        }
        div {
            top: -0.4em;
            left: -0.3em;
            border-left: 0.3em solid transparent;
            border-right: 0.3em solid transparent;
            border-top: 0.3em solid @mwh_color_figures;

            &:after {
                width: 0.6em;
                height: 1.6em;
                top: -1.9em;
                left: -0.3em;
                z-index: 2;
                background-color: @mwh_color_figures;
            }
        }
        &:after, div:after {
            position: absolute;
            content: '';
        }
        &:after {
            width: 0.8em;
            height: 1.7em;
            top: -2.1em;
            left: -0.4em;
            z-index: 1;
            background-color: @mwh_color_base;
        }
    }
}

// forms
#personalization_form {
    > ol {
        font-weight: bold;

        > li {
            .mixin_font_standard;
            margin-left: (20em / @variable_font_standard_multiplier);

            p {
                font-size: @font-size-base;
            }
            > div {
                font-size: (10em / @variable_font_standard_multiplier);
                margin: 0 (@font-size-base * -0.5) 0 (@font-size-base * -2.5);
            }
        }
    }
    .likert_scale {
        margin-bottom: (@font-size-base * 2);

        label {
            margin-bottom: 0;
            vertical-align: top;
        }
        p {
            height: 1.333333em;
            color: @mwh_color_figures;
        }
    }
    [data-likert] {
        overflow: auto;
        // padding: @font-size-base 0;

        span {
            display: block;
            float: left;
            overflow: auto;
            height: (@variable_font_subheading_multiplier / 10);
            padding: 0 (@font-size-base * 0.4);

            a {
                display: block;
                height: (@font-size-base * 1.8);
                text-indent: -9999em;
                border: (@font-size-base * 0.1) solid @mwh_color_base;
                background-color: @mwh_grey_border;
            }
            &:hover {
                a {
                    border-color: @mwh_grey_border;
                }
            }
        }
        [data-selected="true"] {
            a {
                background-color: @mwh_color_figures;
                border-color: @mwh_color_figures;

                &:hover {
                    border-color: @mwh_color_figures;
                }
            }
        }
        [data-selected="false"] {
            a {
                background-color: @mwh_grey_border;
                border-color: @mwh_color_base;
            }
        }
    }
    [data-likert="5"] {
        span {
            width: 20%;
        }
    }
    .likert_descriptors {
        padding: 0 0.5em;
        span {
            display: block;
            float: left;
            width: 33.3333%;
            color: @mwh_grey_active;
            font-weight: normal;
            .mixin_font_subtext;
        }
        span:first-child {
            float: left;
        }
        span:first-child + span {
            text-align: center;
        }
        span:first-child + span + span {
            text-align: right;
        }

    }
}
