/* Global Mixins ---------------------------- */
// This file adds mixin classes that can be shared across all projects
/* ------------------------------------------ */

// resets styling on buttons, thereby giving a flat design
.mixin_button_reset {
    margin: 0;
    border-width: 0;
    padding: 0;
    background-color: transparent;
}